{% extends 'base.html' %} 
{% load static %}

    
    {% block title %}
    <title>Log In</title>
    {% endblock title %}
 

  {% block content %}
  <!-- Los errores no se repdoucen en pantalla, corregir -->
   <form method="post" class="form-login m-5 flex-wrap text-center">
     {% csrf_token %}
      <div class="form-group mb-3">
       <label for="{{ form.username.id_for_label }}" class="m-2">Usuario:</label>
       {{ form.username }}
       {% for error in form.username.errors %}
         <div class="text-danger">{{ error }}</div>
       {% endfor %}
     </div>
     <div class="form-group mb-3">
       <label for="{{ form.password.id_for_label }}" class="m-2">Contraseña:</label>
       {{ form.password }}
       {% for error in form.password.errors %}
         <div class="text-danger">{{ error }}</div>
       {% endfor %}
     </div>
     <button class="btn btn-warning w-50 py-2 mt-4" type="submit" >
        Iniciar Sesión
     </button>
   </form>

  {% endblock %}