{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block content %}

<section class="jumbotron text-center mt-5 mb-5">
   <div class="container">
      <h1 class="jumbotron-heading text-warning" style="font-family:'Caveat'; font-size:3em">Acerca de mí</h1>

      <p class="card-text m-3">
         ¡Hola! Mi nombre es Alfonsina. Soy de Córdoba, Argentina. Aspirante a programadora, en proceso de decidir a cuál rama abocarme.
      </p>
      <p class="card-text m-3">
         Me inicié en el mundo de la programación a través de un curso introductorio en Codo a Codo, donde aprendí las bases de la mano de Pseint.
         Tras eso tuve la oportunidad de acceder a distintos trayectos formativos a través de Argentina Programa, con Egg, ITMaster y la UNSAM,
         donde aprendí Java, Python y tuve un breve contacto con MySQL.
      </p>
      <p class="card-text m-3">
         ¡Muy agradecida con la oportunidad brindada por Digitalers! Feliz de haber podido aprender más de este mundillo de la programación y web 
         de la mano de EducacionIT y sus profes.
      </p>
      <p class="card-text m-3">
         Gracias por ayudarme a darle vida a este pequeño proyecto, con suerte primero de muchos :D
      </p>

   </div>
 </section>
   
{% endblock content %}